/* styles.css */
:root {
  --background-color-1: #ffffff;
  --background-color-2: #ffffff;
  --background-color-3: #f8f9fa;
  --background-color-4: rgb(237, 237, 237, 0.8);
  --card-color-1: #fff;




  
  

  --text-color-1: #212529;
  --text-color-2: #777777;
  --text-color-3: #9e9d9d;


}

body.dark-mode {
  --background-color-1: #000000;
  --background-color-2: #141414;
  --background-color-3: #111111;
  --background-color-4: rgba(5, 5, 5, 0.8);
  --background-color-5: #717171;

  --card-color-1: #282828;


  --text-color-1: #ffffff;
  --text-color-2: #b4b4b4;
  --text-color-3: #888888;


}
